.DS_Store
.vagrant*
ansible/roles/*
!ansible/roles/ansible-ice-templates/
!ansible/roles/ansible-ice-volumes/
!ansible/roles/ansible-vvp-bootstrap/
.vault_password
*.retry
*.vdi
*.vmdk
zones/*/fetch/*
zones/*/k8
fetch/*
**/*.pyc
