.DS_Store
.vagrant*
!ansible/roles/ansible-ice-templates/
!ansible/roles/ansible-ice-volumes/
!ansible/roles/ansible-vvp-bootstrap/
ansible/roles/ceph*
#.vault_password
*.retry
*.vdi
zones/*/fetch/*
zones/*/k8
fetch/*
**/*.pyc
