# -*- encoding: utf-8 -*- 
# ============LICENSE_START======================================================= 
# org.onap.vvp/engagementmgr
# ===================================================================
# Copyright © 2017 AT&T Intellectual Property. All rights reserved.
# ===================================================================
#
# Unless otherwise specified, all software contained herein is licensed
# under the Apache License, Version 2.0 (the “License”);
# you may not use this software except in compliance with the License.
# You may obtain a copy of the License at
#
#             http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#
#
# Unless otherwise specified, all documentation contained herein is licensed
# under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
# you may not use this documentation except in compliance with the License.
# You may obtain a copy of the License at
#
#             https://creativecommons.org/licenses/by/4.0/
#
# Unless required by applicable law or agreed to in writing, documentation
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# ============LICENSE_END============================================
#
# ECOMP is a trademark and service mark of AT&T Intellectual Property.
domain={{domain}}
{% for range in dhcp_ranges %}
dhcp-range={{range}}
{% endfor %}
{% if ice_environment != 'development' %}
dhcp-option={{ops_management_interface}},121,10.252.0.0/16,{{management_gateway}}
dhcp-option=tag:#coreos,{{ops_management_interface}},3,{{management_gateway}}
dhcp-option=tag:coreos,{{ops_management_interface}},3
{% endif %}
{% for interface in additional_gateways.keys() %}
dhcp-option={{interface}},3{% if additional_gateways[interface] != '' %},{{additional_gateways[interface]}} {% endif %}

dhcp-option=#{{ops_management_interface}},6
{% endfor %}
enable-tftp
tftp-root=/var/lib/tftpboot
{% if pxe_boot %}
{% if pxe_chainload %}
dhcp-userclass=set:iceundi,ICEPXE
dhcp-boot=tag:coreos,tag:#iceundi,iceundionly.kpxe
{% else %}
dhcp-userclass=set:iceundi,iPXE
dhcp-boot=tag:coreos,tag:#iceundi,undionly.kpxe
{% endif %}
dhcp-boot=tag:iceundi,http://{{ops_management_ip}}:8080/boot.ipxe
{% endif %}
{% for host in hosts %}
{% for config in host.dnsmasq_config %}
dhcp-host={{config}}
{% endfor %}
{% endfor %}
dhcp-ignore=tag:#known
log-queries
log-dhcp
bogus-priv
